*.mat
*.ova
*.mp4
*.ogg
"2A ModIA/S7 (INSA)/Optimisation et optimisation stochastique/Optimisation stochastique/TPs/TP2/TP2.ipynb"
"2A ModIA/S8 (n7)/UE Machine Learning/Projet Kaggle/modia-ml-2024.zip"
"2A ModIA/S8 (n7)/UE Machine Learning/Projet Kaggle/test"
"2A ModIA/S8 (n7)/UE Machine Learning/Projet Kaggle/train"
"2A ModIA/S8 (n7)/UE Machine Learning/Projet Kaggle/*.pth"
